- if can? :update, @proyecto
  = link_to 'Editar', edit_proyecto_path(@proyecto)
  = '|'
  = link_to 'Permisos', permisos_path(modelo: 'proyecto', id: @proyecto)
  = '|'
= link_to 'Volver', proyectos_path
