= tinymce

#proyecto

  = form_for @proyecto, html: { class: 'span-24' } do |f|

    = field_set_tag @titulo, class: 'celeste_oscuro span-24 last' do

      = f.error_messages

      = field_set_tag 'Datos del proyecto', class: 'celeste plegable span-23 last' do

        .span-22.campo
          .span-2= f.label :nombre
          .span-20.last= f.text_field :nombre, autofocus: true, required: true
          = ayuda_para('proyecto.nombre')

        #descripcion.span-22.campo
          .span-2= f.label :descripcion, 'Descripción'
          .span-20.last= f.text_area :descripcion, class: 'tinymce'
          = ayuda_para('proyecto.descripcion')

        #cita.span-22.campo
          .span-2= f.label :cita, 'Cómo citar'
          .span-20.last= f.text_area :cita
          = ayuda_para('proyecto.cita')

      = field_set_tag 'Perfiles asociados', class: 'celeste plegable span-23 last' do

        .span-22.campo= render partial: 'comunes/perfiles_asociados',
          locals: { perfiles: @proyecto.perfiles, param: 'proyecto' }

      .acciones.span-4.last= f.submit
