%tr{class: cycle("odd", "even")}
  - if remover
    %td.borrar
      =  link_to 'X', '#perfiles', class: 'remove remover'
  %td.nombre
    = ff.label :nombre, perfil.nombre, class: 'perfil_nombre'
  %td.numero
    = ff.label :numero, perfil.numero, class: 'perfil_numero'
  %td.fecha
    = ff.label :fecha, perfil.fecha

  = ff.hidden_field :id
  = ff.hidden_field :_destroy
