#lista
  .botonera
    - if can? :create, Proyecto
      = link_to 'Nuevo proyecto', new_proyecto_path

    #paginacion
      = paginate @proyectos
      = elegir_filas 'proyectos'

  %table#proyectos
    %thead
      %tr
        %th Nombre
        %th Descripcion
        %th Cita
        %th.numero Perfiles
        %th.acciones

    %tbody
      - @proyectos.each do |proyecto|
        %tr
          %td= proyecto.nombre
          %td!= proyecto.fragmento_descripcion
          %td!= proyecto.fragmento_cita
          %td.numero= proyecto.perfiles.length
          %td.acciones
            = link_to 'Mostrar', proyecto
            = '|'
            = link_to 'Editar', edit_proyecto_path(proyecto)
            = '|'
            = link_to 'Permisos', permisos_path(modelo: 'proyecto', id: proyecto)
            = '|'
            = link_to 'Eliminar', proyecto, data: { confirm: t(:confirmar) }, method: :delete
