%p#notice= notice

%p
  %b Nombre:
  = @proyecto.nombre
%p
  %b Descripcion:
  = @proyecto.descripcion
%p
  %b Cita:
  = @proyecto.cita

= link_to 'Edit', edit_proyecto_path(@proyecto)
\|
= link_to 'Back', proyectos_path
