.botonera= render 'botonera_mostrar'

.span-24

  = field_set_tag 'Datos del proyecto', class: 'celeste_oscuro span-23 last' do

    .span-22
      .span-2= label_tag 'Nombre'
      .span-20.last= @proyecto.nombre

    .span-22
      .span-2= label_tag 'Descripción'
      .span-20.last!= @proyecto.descripcion

    .span-22
      .span-2= label_tag 'Cita'
      .span-20.last!= @proyecto.cita

.botonera= render 'botonera_mostrar'
