.botonera
  - if can? :update, @proyecto.object
    = link_to 'Editar', edit_proyecto_path(@proyecto)
    = '|'
    = link_to 'Permisos', permisos_path(modelo: 'proyecto', id: @proyecto)
    = '|'
  = link_to 'Volver', proyectos_path

#proyecto.span-24.show
  = fields_for @proyecto do |f|

    = field_set_tag 'Datos del proyecto', class: 'celeste_oscuro span-23 last' do

      .span-22
        .span-2= f.label 'Nombre'
        .span-20.last= @proyecto.nombre

      .span-22
        .span-2= f.label 'Descripción'
        .span-20.last!= @proyecto.descripcion

      .span-22
        .span-2= f.label 'Cita'
        .span-20.last!= @proyecto.cita

      = field_set_tag 'Perfiles asociados', class: 'celeste plegable span-22 last' do

        .span-21.campo= render partial: 'comunes/perfiles_asociados',
          locals: { perfiles: @proyecto.perfiles, param: 'proyecto', bloqueado: true }
