- if can? :read, @calicata
  = link_to 'Mostrar calicata', @calicata
  = '|'
- if can? :read, @calicata.analisis
  = link_to 'Mostrar análisis', calicata_analisis_index_path(@calicata)
  = '|'
- if can? :create, @adjunto
  = link_to 'Adjuntar archivo', new_calicata_adjunto_path(@calicata)
  = '|'
= link_to 'Volver', calicatas_path
