- if can? :read, @calicata
  = link_to 'Mostrar calicata', @calicata
  = '|'
- if can? :update, @adjunto
  = link_to 'Editar adjunto', edit_calicata_adjunto_path(@calicata, @adjunto)
  = '|'
= link_to 'Volver', calicata_adjuntos_path
