- if can? :read, @perfil
  = link_to 'Mostrar perfil', @perfil
  = '|'
- if can? :update, @adjunto
  = link_to 'Editar adjunto', edit_perfil_adjunto_path(@perfil, @adjunto)
  = '|'
= link_to 'Volver', perfil_adjuntos_path
