= form_for [@calicata, @adjunto], html: { class: 'span-24', multipart: true } do |f|

  = f.error_messages

  = field_set_tag nil, class: 'azul_claro span-23 last' do

    = field_set_tag 'Archivo', class: 'celeste plegable span-22 last' do

      .span-21.last
        - if bloqueado
          .span-1.icono= icono_para_extension(@adjunto.extension)
          .span-18= label_tag :archivo, @adjunto.archivo_file_name
          .span-2.last= label_tag :mb, number_to_human_size(@adjunto.archivo_file_size)
        - else
          = file_field_tag 'adjunto_archivo', size: 89, name: 'adjunto[archivo]'

    = render partial: 'anotaciones', locals: { f: f, bloqueado: bloqueado }

    .acciones.span-4.last= f.submit unless bloqueado
