= form_for(resource, as: resource_name, url: registration_path(resource_name),
  html: { method: :put, class: 'span-24 edit-registration' }) do |f|

  = field_set_tag 'Editá tus datos', class: 'celeste_oscuro span-24' do

    = devise_error_messages!

    .span-24
      .span-3= f.label :nombre
      .span-9.last= f.text_field :nombre

    .span-24
      .span-3= f.label :email
      .span-9.last= f.email_field :email

    .span-24
      .span-3= f.label :current_password, 'Password actual'
      .span-9= f.password_field :current_password
      .span-12.consejo.last (necesitamos tu password actual para confirmar los cambios)

    .span-24
      .span-3= f.label :password, 'Password nuevo'
      .span-9= f.password_field :password
      .span-12.consejo.last (dejalo vacío si no querés cambiarlo)

    .span-24
      .span-3= f.label :password_confirmation, 'Confirmación del password'
      .span-9= f.password_field :password_confirmation
      .span-12.consejo.last (exactamente igual que arriba)

    .span-4= f.submit 'Actualizar'

  = field_set_tag 'Cancelá tu cuenta', class: 'celeste_oscuro span-24' do
    = '¿Querés eliminar tu cuenta? Hacé click'
    = link_to 'acá', registration_path(resource_name),
              data: { confirm: '¿Definitivamente? No hay vuelta atrás' }, method: :delete
    = '.'


= render partial: 'usuarios/preferencias'

= link_to 'Volver', :back
