<h2>Editar <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :nombre %><br />
  <%= f.text_field :nombre %></div>

  <div><%= f.label :email %><br />
  <%= f.email_field :email %></div>

  <div><%= f.label :password %> <i>(dejalo vacío si no querés cambiarlo)</i><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, 'Confirmación del password' %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.label :current_password, 'Password actual' %> <i>(necesitamos tu password actual para confirmar los cambios)</i><br />
  <%= f.password_field :current_password %></div>

  <div><%= f.submit "Actualizar" %></div>
<% end %>

<h3>Cancelar mi cuenta</h3>

<p>¿Querés eliminar tu cuenta? <%= link_to "Sí",
registration_path(resource_name), :confirm => "¿Definitivamente?", :method => :delete %>.</p>

<%= link_to "Volver", :back %>
