= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: 'registrate' }) do |f|

  = field_set_tag 'Completá tus datos', class: 'celeste_oscuro span-24' do

    = devise_error_messages!

    .span-24
      .span-3= f.label :nombre
      .span-9.last= f.text_field :nombre

    .span-24
      .span-3= f.label :email
      .span-9.last= f.email_field :email

    .span-24
      .span-3= f.label :idioma, 'Idioma preferido'
      .span-9.last= f.select :idioma, options_for_select(I18n.available_locales.map(&:to_s), I18n.locale.to_s)

    .span-24
      .span-3= f.label :password
      .span-9= f.password_field :password

    .span-24
      .span-3= f.label :password_confirmation, 'Confirmación del password'
      .span-9.last= f.password_field :password_confirmation

  .span-4= f.submit 'Registrarse'

= render partial: 'devise/shared/links'
