.botonera
  = link_to 'Volver', procesamientos_path

%p
  Resultado de #{@procesamiento.metodologia} para
  != "#{link_to "#{@procesamiento.perfiles.size} perfiles", edit_procesamiento_path(@procesamiento)}."

= image_tag @procesamiento.imagen.url
