%tr{class: cycle("odd", "even")}
  - unless bloqueado
    %td.borrar.centrado
      = link_to 'X', '#', class: 'remove remover'
      = destruir_o_anular 'perfiles', param, perfil.id, metodo: 'anular'
      = hidden_field_tag "#{param}[perfiles_attributes][#{perfil.id}][id]", perfil.id
  %td.serie
    = perfil.link_a_serie
  %td.numero.centrado
    = link_to perfil.numero, perfil, class: 'perfil_numero'
  %td.ubicacion
    = f.label :ubicacion, perfil.ubicacion, class: 'perfil_ubicacion'
  %td.fecha.centrado
    = f.label :fecha, perfil.fecha
  %td.modal.centrado
    = f.label :modal, "✓" if perfil.modal?
  %td.acciones
    = link_to 'Ver', perfil
