<%= form_for(@observacion) do |f| %>
  <% if @observacion.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@observacion.errors.count, "error") %> prohibited this observacion from being saved:</h2>

      <ul>
      <% @observacion.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :fecha %><br />
    <%= f.text_field :registro %>
  </div>

  <div class="field">
    <%= f.label :numero %><br />
    <%= f.text_field :numero %>
  </div>

  <div class="field">
    <%= f.label :modal %><br />
    <%= f.check_box :modal %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
