<p id="notice"><%= notice %></p>

<p>
  <b>Fecha:</b>
  <%= @observacion.fecha %>
</p>

<p>
  <b>Número:</b>
  <%= @observacion.numero %>
</p>

<p>
  <b>Modal:</b>
  <%= @observacion.modal %>
</p>

<%= link_to 'Edit', edit_observacion_path(@observacion) %> |
<%= link_to 'Back', observacion_index_path %>
