= link_to 'Mostrar', @calicata
= '|'
= link_to 'Editar análisis', edit_calicata_analisis_index_path(@calicata)
= '|'
= link_to 'Adjuntar archivo', new_calicata_adjunto_path(@calicata)
= '|'
= link_to 'Volver', calicatas_path
