%tr
  %td= calicata.fecha
  %td= calicata.nombre
  %td= calicata.ubicacion.try :descripcion
  %td= calicata.numero
  %td= "✓" if calicata.modal?
  %td.boton= link_to 'Mostrar', calicata
  %td.boton= link_to 'Editar', edit_calicata_path(calicata)
  %td.boton= link_to 'Análisis', calicata_analisis_index_path(calicata)
  %td.boton= link_to 'Eliminar', calicata, confirm: '¿Estás seguro?', method: :delete
