= form_for @calicata, html: { class: 'completa span-24' } do |f|

  = f.error_messages

  = field_set_tag 'Ficha de descripción edafológica', :class => 'azul_claro span-23 last' do

    = render partial: 'descripcion_del_sitio', locals: {f: f}
    = render partial: 'horizonte', collection: @calicata.horizontes, locals: {f: f}
    = render partial: 'observaciones', locals: {f: f}

    .acciones.span-4.last= f.submit
