<%= form_for(calicata, html: { class: 'completa span-24' }) do |f| %>

  <% if calicata.errors.any? %>
    <div id="mensaje_de_error" class="span-23">
      <h2><%= pluralize(@calicata.errors.count, "error") %> impide(n) que se guarde esta calicata:</h2>
      <ul>
        <% @calicata.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= field_set_tag 'Ficha de descripción edafológica', :class => 'span-23 last' do %>

    <%= field_set_tag 'Descripción del sitio', :class => 'plegable span-22 last' do %>

      <div class="span-5">
        <div class="span-2"><%= f.label :mosaico %></div>
        <div class="span-3 last"><%= f.text_field :mosaico %></div>
      </div>
      <div class="span-4">
        <div class="span-2"><%= f.label :recorrido %></div>
        <div class="span-2 last"><%= f.text_field :recorrido %></div>
      </div>
      <div class="span-4">
        <div class="span-2"><%= f.label :aerofoto %></div>
        <div class="span-2 last"><%= f.text_field :aerofoto %></div>
      </div>
      <div class="span-4">
        <div class="span-2"><%= f.label :fecha %></div>
        <div class="span-2 last"><%= f.text_field :fecha %></div>
      </div>
      <div class="span-5 last">
        <div class="span-2"><%= f.label :numero %></div>
        <div class="span-2 last"><%= f.text_field :numero %></div>
      </div>

      <div class="span-11">
        <div class="span-2"><%= f.label :serie_id %></div>
        <div class="span-9 last"><%= f.text_field :serie_id %></div>
      </div>
      <div class="span-11 last">
        <div class="span-2"><%= f.label :fase %></div>
        <div class="span-8 last"><%= f.text_field :fase %></div>
      </div>

      <div class="span-11">
        <div class="span-2"><%= f.label :simbolo %></div>
        <div class="span-9 last"><%= f.text_field :simbolo %></div>
      </div>
      <div class="span-11 last">
        <div class="span-2"><%= f.label :gran_grupo %></div>
        <div class="span-8 last"><%= f.text_field :gran_grupo %></div>
      </div>

      <div class="span-4">
        <%= label_tag nil, 'Clasificación utilitaria', :class => 'subtitulo' %>
      </div>
      <div class="span-7">
        <div class="span-2"><%= f.label :simbolo, 'Símbolo' %></div>
        <div class="span-5 last"><%= f.text_field :simbolo %></div>
      </div>
      <div class="span-11 last">
        <div class="span-2"><%= f.label :limitaciones %></div>
        <div class="span-8 last"><%= f.text_field :limitaciones %></div>
      </div>

      <div class="span-22 last">
        <div class="span-2"><%= f.label :ubicacion %></div>
        <div class="span-19 last"><%= f.text_field :ubicacion %></div>
      </div>

      <div class="span-22 last">
        <div class="span-2"><%= f.label :paisaje %></div>
        <div class="span-19 last"><%= f.text_field :paisaje %></div>
      </div>

      <div class="span-11">
        <div class="span-2"><%= f.label :material_original %></div>
        <div class="span-9 last"><%= f.text_field :material_original %></div>
      </div>
      <div class="span-11 last">
        <div class="span-2"><%= f.label :drenaje %></div>
        <div class="span-8 last"><%= f.text_field :drenaje %></div>
      </div>

      <div class="span-11">
        <div class="span-2"><%= f.label :relieve %></div>
        <div class="span-9 last"><%= f.text_field :relieve %></div>
      </div>
      <div class="span-11 last">
        <div class="span-2"><%= f.label :anegamiento %></div>
        <div class="span-8 last"><%= f.text_field :anegamiento %></div>
      </div>

      <div class="span-11">
        <div class="span-2"><%= f.label :posicion %></div>
        <div class="span-9 last"><%= f.text_field :posicion %></div>
      </div>
      <div class="span-11 last">
        <div class="span-2"><%= f.label :humedad %></div>
        <div class="span-8 last"><%= f.text_field :humedad %></div>
      </div>

      <div class="span-11">
        <div class="span-2"><%= f.label :pendiente %></div>
        <div class="span-9 last"><%= f.text_field :pendiente %></div>
      </div>
      <div class="span-5">
        <div class="span-2"><%= f.label :cobertura_vegetal %></div>
        <div class="span-3 last"><%= f.text_field :cobertura_vegetal %></div>
      </div>
      <div class="span-6 last">
        <div class="span-2"><%= f.label :profundidad_napa %></div>
        <div class="span-3 last"><%= f.text_field :profundidad_napa %></div>
      </div>

      <div class="span-11">
        <div class="span-2"><%= f.label :escurrimiento %></div>
        <div class="span-9 last"><%= f.text_field :escurrimiento %></div>
      </div>
      <div class="span-11 last">
        <div class="span-2"><%= f.label :sales %></div>
        <div class="span-8 last"><%= f.text_field :sales %></div>
      </div>

      <div class="span-11">
        <div class="span-2"><%= f.label :permeabilidad %></div>
        <div class="span-9 last"><%= f.text_field :permeabilidad %></div>
      </div>
      <div class="span-11 last">
        <div class="span-2"><%= f.label :pedregosidad %></div>
        <div class="span-8 last"><%= f.text_field :pedregosidad %></div>
      </div>

      <div class="span-11">
        <div class="span-2"><%= f.label :erosion %></div>
        <div class="span-9 last"><%= f.text_field :erosion %></div>
      </div>
      <div class="span-11 last">
        <div class="span-2"><%= f.label :uso_tierra %></div>
        <div class="span-8 last"><%= f.text_field :uso_tierra %></div>
      </div>

    <% end %>

    <%= field_set_tag 'Descripción de los horizontes', :class => 'plegable span-22 last' do %>

      <div class="span-1">
        <div class="span-1 last"><%= label_tag :tipo_n, 'Clase Hz' %></div>
        <div class="span-1 last"><%= text_field_tag :tipo_n %></div>
      </div>

      <div class="span-1">
        <div class="span-1 last"><%= label_tag :profundidad_n, 'Prof. (cm)' %></div>
        <div class="span-1 last"><%= text_field_tag :profundidad_n %></div>
      </div>

      <div class="span-2">
        <div class="prepend-media span-2 last"><%= label_tag nil, 'Límite', :class => 'subtitulo' %></div>
        <div class="span-1">
          <div class="span-1 last"><%= label_tag :limite_t_n, 'Tipo' %></div>
          <div class="span-1 last"><%= text_field_tag :limite_t_n %></div>
        </div>
        <div class="span-1 last">
          <div class="span-1 last"><%= label_tag :limite_f_n, 'Forma' %></div>
          <div class="span-1 last"><%= text_field_tag :limite_f_n %></div>
        </div>
      </div>

      <div class="span-4">
        <div class="prepend-unaymedia span-2 last"><%= label_tag nil, 'Color', :class => 'subtitulo' %></div>
        <div class="span-2">
          <div class="span-2 last"><%= label_tag :color_s_n, 'En seco' %></div>
          <div class="span-2 last"><%= text_field_tag :color_s_n %></div>
        </div>
        <div class="span-2 last">
          <div class="span-2 last"><%= label_tag :color_h_n, 'En húmedo' %></div>
          <div class="span-2 last"><%= text_field_tag :color_h_n %></div>
        </div>
      </div>

      <div class="span-1">
        <div class="span-1 texto-corto"><%= label_tag :textura_n, 'Textura' %></div>
        <div class="span-1"><%= text_field_tag :textura_n %></div>
      </div>

      <div class="span-6">
        <div class="prepend-2 span-4 last"><%= label_tag nil, 'Estructura', :class => 'subtitulo' %></div>
        <div class="span-2">
          <div class="span-2 last"><%= label_tag :estructura_t_n, 'Tipo' %></div>
          <div class="span-2 last"><%= text_field_tag :estructura_t_n %></div>
        </div>
        <div class="span-2">
          <div class="span-2 last"><%= label_tag :estructura_c_n, 'Clase' %></div>
          <div class="span-2 last"><%= text_field_tag :estructura_c_n %></div>
        </div>
        <div class="span-2 last">
          <div class="span-2 last"><%= label_tag :estructura_g_n, 'Grado' %></div>
          <div class="span-2 last"><%= text_field_tag :estructura_g_n %></div>
        </div>
      </div>

      <div class="span-6 last">
        <div class="prepend-2 span-4 last"><%= label_tag nil, 'Consistencia', :class => 'subtitulo' %></div>
        <div class="span-2">
          <div class="span-2 last"><%= label_tag :consistencia_s_n, 'S' %></div>
          <div class="span-2 last"><%= text_field_tag :consistencia_s_n %></div>
        </div>
        <div class="span-2">
          <div class="span-2 last"><%= label_tag :consistencia_h_n, 'H' %></div>
          <div class="span-2 last"><%= text_field_tag :consistencia_h_n %></div>
        </div>
        <div class="span-1">
          <div class="span-1 last"><%= label_tag :consistencia_m_p_n, 'plast.' %></div>
          <div class="span-1 last"><%= text_field_tag :consistencia_m_p_n %></div>
        </div>
        <div class="span-1 last">
          <div class="span-1 last"><%= label_tag :consistencia_m_a_n, 'adhes.' %></div>
          <div class="span-1 last"><%= text_field_tag :consistencia_m_a_n %></div>
        </div>
      </div>

    <% end %>

    <div class="acciones span-4 last">
      <%= f.submit %>
    </div>

  <% end %>

<% end %>
