= form_for @calicata, html: { class: 'completa span-24' } do |f|

  = f.error_messages

  = field_set_tag 'Ficha de descripción edafológica', :class => 'azul_claro span-23 last' do

    = field_set_tag 'Descripción del sitio', :class => 'celeste plegable span-22 last' do

      .span-4
        .span-2= f.label :mosaico
        .span-2.last= f.text_field :mosaico
      .span-4
        .span-2= f.label :recorrido
        .span-2.last= f.text_field :recorrido
      .span-4
        .span-2= f.label :aerofoto
        .span-2.last= f.text_field :aerofoto
      .span-5
        .span-2= f.label :fecha
        .span-3.last= f.text_field :fecha, :class => 'fecha'
      .span-4.last
        .span-2= f.label :numero
        .span-2.last= f.text_field :numero

      .span-11
        = f.fields_for :serie do |f_s|
          .span-2= f_s.label :nombre, 'Serie'
          .span-9.last= f_s.text_field :nombre
      .span-11.last
        = f.fields_for :fase do |f_f|
          .span-2= f_f.label :nombre, 'Fase'
          .span-8.last= f_f.text_field :nombre
      .span-11
        = f.fields_for :serie do |f_s|
          .span-2= f_s.label :simbolo
          .span-9.last= f_s.text_field :simbolo
      .span-11.last
        .span-2= f.label :gran_grupo
        .span-8.last= f.text_field :gran_grupo

      .span-4= label_tag nil, 'Clasificación utilitaria', :class => 'subtitulo'
      = f.fields_for :capacidad do |f_c|
        .span-7
          .span-2= f_c.label :subclases, 'Simbolos'
          - @subclases.each do |s|
            .span-1
              .span-1= label_tag s.codigo
              .last= check_box_tag "calicata[capacidad_attributes][subclase_ids][]",
                s.id, tildada?(s)
        .span-11.last
          .span-2= f_c.label :capacidad_clase_id, 'Limitaciones principales'
          .span-8.last= f_c.collection_select :capacidad_clase_id, @clases, :id, :descripcion,
            :prompt => true

      .span-22.last
        .span-2= f.label :ubicacion
        .span-19.last= f.text_field :ubicacion

      .span-4= label_tag nil, 'Paisaje', :class => 'subtitulo'
      = f.fields_for :paisaje do |f_p|
        .span-7
          .span-2= f_p.label :tipo
          .span-5.last= f_p.text_field :tipo
        .span-5
          .span-2= f_p.label :forma
          .span-3.last= f_p.text_field :forma
        .span-6.last
          .span-2= f_p.label :simbolo, 'Símbolo'
          .span-3.last= f_p.text_field :simbolo

      .span-11
        .span-2= f.label :material_original
        .span-9.last= f.text_field :material_original
      .span-11.last
        .span-2= f.label :drenaje_id
        .span-8.last= f.collection_select :drenaje_id, @drenajes, :id, :valor, :prompt => true

      .span-11
        .span-2= f.label :relieve_id
        .span-9.last= f.collection_select :relieve_id, @relieves, :id, :valor, :prompt => true
      .span-11.last
        .span-2= f.label :anegamiento_id
        .span-8.last= f.collection_select :anegamiento_id, @anegamientos, :id, :valor,
          :prompt => true

      .span-11
        .span-2= f.label :posicion_id
        .span-9.last= f.collection_select :posicion_id, @posiciones, :id, :valor,
          :prompt => true
      .span-11.last
        .span-2= f.label :humedad
        .span-8.last= f.text_field :humedad

      .span-11
        .span-2= f.label :pendiente_id
        .span-9.last= f.collection_select :pendiente_id, @pendientes, :id, :valor,
          :prompt => true
      .span-5
        .span-2= f.label :cobertura_vegetal
        .span-3.last= f.text_field :cobertura_vegetal
      .span-6.last
        .span-2= f.label :profundidad_napa
        .span-3.last= f.text_field :profundidad_napa

      .span-11
        .span-2= f.label :escurrimiento_id
        .span-9.last= f.collection_select :escurrimiento_id,
          @escurrimientos, :id, :valor, :prompt => true
      .span-11.last
        .span-2= f.label :sales
        .span-8.last= f.text_field :sales

      .span-11
        .span-2= f.label :permeabilidad_id
        .span-9.last= f.collection_select :permeabilidad_id,
          @permeabilidades, :id, :valor, :prompt => true
      .span-11.last
        .span-2= f.label :pedregosidad
        .span-8.last= f.text_field :pedregosidad

      .span-11
        .span-2= f.label :erosion
        .span-9.last= f.text_field :erosion
      .span-11.last
        .span-2= f.label :uso_tierra
        .span-8.last= f.text_field :uso_tierra

    = field_set_tag 'Descripción de los horizontes', :class => 'celeste plegable span-22 last' do

      .span-1
        .span-1.last= label_tag :tipo_n, 'Clase Hz'
        .span-1.last= text_field_tag :tipo_n

      .span-1
        .span-1.last= label_tag :profundidad_n, 'Prof. inf.'
        .span-1.last= text_field_tag :profundidad_n

      .span-2
        .prepend-media.span-2.last= label_tag nil, 'Límite', :class=> 'subtitulo'
        .span-1
          .span-1.last= label_tag :limite_t_n, 'Tipo'
          .span-1.last= text_field_tag :limite_t_n
        .span-1.last
          .span-1.last= label_tag :limite_f_n, 'Forma'
          .span-1.last= text_field_tag :limite_f_n

      .span-4
        .prepend-unaymedia.span-2.last= label_tag nil, 'Color', :class=> 'subtitulo'
        .span-2
          .span-2.last= label_tag :color_s_n, 'En seco'
          .span-2.last= text_field_tag :color_s_n
        .span-2.last
          .span-2.last= label_tag :color_h_n, 'En húmedo'
          .span-2.last= text_field_tag :color_h_n

      .span-1
        .span-1.texto-corto= label_tag :textura_n, 'Textura'
        .span-1= text_field_tag :textura_n

      .span-6
        .prepend-2.span-4.last= label_tag nil, 'Estructura', :class=> 'subtitulo'
        .span-2
          .span-2.last= label_tag :estructura_t_n, 'Tipo'
          .span-2.last= text_field_tag :estructura_t_n
        .span-2
          .span-2.last= label_tag :estructura_c_n, 'Clase'
          .span-2.last= text_field_tag :estructura_c_n
        .span-2.last
          .span-2.last= label_tag :estructura_g_n, 'Grado'
          .span-2.last= text_field_tag :estructura_g_n

      .span-6.last
        .prepend-2.span-4.last= label_tag nil, 'Consistencia', :class=> 'subtitulo'
        .span-2
          .span-2.last= label_tag :consistencia_s_n, 'S'
          .span-2.last= text_field_tag :consistencia_s_n
        .span-2
          .span-2.last= label_tag :consistencia_h_n, 'H'
          .span-2.last= text_field_tag :consistencia_h_n
        .span-1
          .span-1.last= label_tag :consistencia_m_p_n, 'plast.'
          .span-1.last= text_field_tag :consistencia_m_p_n
        .span-1.last
          .span-1.last= label_tag :consistencia_m_a_n, 'adhes.'
          .span-1.last= text_field_tag :consistencia_m_a_n

    = field_set_tag 'Observaciones', :class => 'celeste plegable span-22 last' do
      .span-21.last= f.text_area :observaciones

    .acciones.span-4.last= f.submit
