= form_for @calicata, html: { class: 'completa span-24' } do |f|

  = f.error_messages

  = field_set_tag 'Ficha de descripción edafológica', :class => 'azul_claro span-23 last' do

    .span-23.last
      .span-2.prepend-media= f.label :modal, 'Es modal?', :class => 'subtitulo'
      .span-20.last.campo
        = ayuda_para('modelo', 'campo')
        = f.check_box :modal, :class => 'span-1'
        #serie
          .span-13.prepend-unaymedia.campo
            .span-2= f.label :nombre, 'Nombre de la serie'
            .span-11.last= f.text_field :nombre
            = ayuda_para('modelo', 'campo')
          .span-4.last.campo
            .span-2= f.label :simbolo, 'Símbolo de la serie'
            .span-2.last= f.text_field :simbolo
            = ayuda_para('modelo', 'campo')

    = render partial: 'descripcion_del_sitio', locals: {f: f}
    = render partial: 'descripcion_de_los_horizontes', locals: {f: f}
    = render partial: 'observaciones', locals: {f: f}

    .acciones.span-4.last= f.submit
