= field_set_tag 'Descripción de los horizontes', :class => 'celeste plegable span-22 last' do

  .span-1= label_tag nil, 'Clase Hz'
  .span-1= label_tag nil, 'Prof. inf.'
  .span-2
    .span-2.last= label_tag nil, 'Límite', :class=> 'subtitulo'
    .span-1= label_tag nil, 'Tipo'
    .span-1.last= label_tag nil, 'Forma'
  .span-1.texto-corto= label_tag nil, 'Textura'
  .span-4
    .prepend-2.span-2.last= label_tag nil, 'Color', :class=> 'subtitulo'
    .span-2= label_tag nil, 'En seco'
    .span-2.last= label_tag nil, 'En húmedo'
  .span-6
    .prepend-1.span-4.last= label_tag nil, 'Estructura', :class=> 'subtitulo'
    .span-2= label_tag nil, 'Tipo'
    .span-2= label_tag nil, 'Clase'
    .span-2.last= label_tag nil, 'Grado'
  .span-6
    .prepend-2.span-4= label_tag nil, 'Consistencia', :class=> 'subtitulo'
    .span-2.last= label_tag nil, 'S'
    .span-2.last= label_tag nil, 'H'
    .span-1.last= label_tag nil, 'plast.'
    .span-1.last= label_tag nil, 'adhes.'
  .span-1.last= link_to '+', '#', :class => 'add'

  .items
    = f.nested_fields_for :horizontes, show_empty: true, render_template: false do |f_h|
      - if f_h
        .item= render partial: 'horizonte', locals: {h: f_h}
      - else
        .prepend-8.span-5.empty No hay horizontes cargados

    = nested_fields_templates
