= field_set_tag 'Descripción de los horizontes', id: 'horizontes', class: 'celeste plegable span-22 last' do

  .contenedor-scroll.span-21.last
    .scrolleable
      .span-1.centrado= link_to '+', '#horizontes', class: "agregar #{'add' unless bloqueado}"
      .span-1= label_tag nil, 'Clase Hz'
      .span-1= label_tag nil, 'Prof. sup.'
      .span-1= label_tag nil, 'Prof. inf.'
      .span-4
        .prepend-1.span-3.last= label_tag nil, 'Límite', class: 'subtitulo'
        .span-2= label_tag nil, 'Tipo'
        .span-2.last= label_tag nil, 'Forma'
      .span-2
        .prepend-media.span-2.last= label_tag nil, 'Color', class: 'subtitulo'
        .span-1= label_tag nil, 'Seco'
        .span-1.last= label_tag nil, 'Hum.'
      .span-6
        .prepend-1.span-4.last= label_tag nil, 'Estructura', class: 'subtitulo'
        .span-2= label_tag nil, 'Tipo'
        .span-2= label_tag nil, 'Clase'
        .span-2.last= label_tag nil, 'Grado'
      .span-6.last
        .prepend-2.span-4.last= label_tag nil, 'Consistencia', class: 'subtitulo'
        .span-1= label_tag nil, 'Seco'
        .span-1= label_tag nil, 'Hum.'
        .span-2= label_tag nil, 'Plasticidad'
        .span-2.last= label_tag nil, 'Adhesividad'

      .items
        = f.nested_fields_for :horizontes, show_empty: true, render_template: false do |f_h|
          - if f_h
            .item= render partial: 'horizonte', locals: {h: f_h, bloqueado: bloqueado}
          - else
            .prepend-8.span-5.empty No hay horizontes cargados

        = nested_fields_templates
