.span-1.centrado= link_to 'x', '#horizontes', class: "remover #{'remove' unless bloqueado}"
.span-1= h.text_field :tipo, disabled: bloqueado
.span-1= h.text_field :profundidad_superior,
  disabled: bloqueado, placeholder: 'cm'
.span-1= h.text_field :profundidad_inferior,
  disabled: bloqueado, placeholder: 'cm'
.span-4
  = h.fields_for :limite do |h_l|
    .span-2= h_l.collection_select :tipo_de_limite_id, @tipos_de_limite, :id, :valor,
      { include_blank: true }, { disabled: bloqueado }
    .span-2.last= h_l.collection_select :forma_de_limite_id, @formas_de_limite, :id,
      :valor, { include_blank: true }, { disabled: bloqueado }
.span-4
  = h.fields_for :color_seco do |h_c|
    .span-2= h_c.text_field :hvc, disabled: bloqueado, class: 'munsell'
  = h.fields_for :color_humedo do |h_c|
    .span-2.last= h_c.text_field :hvc, disabled: bloqueado, class: 'munsell'
.span-3
  .span-3.last= h.collection_select :textura_de_horizonte_id, @texturas, :id, :clase,
      { include_blank: true }, { disabled: bloqueado }
.span-6
  = h.fields_for :estructura do |h_e|
    .span-2= h_e.text_field :tipo, disabled: bloqueado
    .span-2= h_e.text_field :clase, disabled: bloqueado
    .span-2.last= h_e.text_field :grado, disabled: bloqueado
.span-4
  =h.fields_for :consistencia do |h_c|
    .span-1= h_c.text_field :seco, disabled: bloqueado
    .span-1= h_c.text_field :humedo, disabled: bloqueado
    .span-1= h_c.text_field :mojado_plasticidad, disabled: bloqueado
    .span-1.last= h_c.text_field :mojado_adhesividad, disabled: bloqueado
.span-1= h.text_field :ph, disabled: bloqueado
.span-1= h.text_field :co3, disabled: bloqueado
.span-2= h.text_field :concreciones, disabled: bloqueado
.span-2= h.text_field :barnices, disabled: bloqueado
.span-2= h.text_field :moteados, disabled: bloqueado
.span-unaymedia= h.text_field :humedad, disabled: bloqueado
.span-1= h.text_field :raices, disabled: bloqueado
.span-3.last= h.text_field :formaciones_especiales, disabled: bloqueado

.oculto= h.check_box :_destroy
