.span-1.centrado= link_to 'x', '#horizontes', class: "remover #{'remove' unless bloqueado}"
.span-2.campo
  = h.text_field :tipo, disabled: bloqueado
  = ayuda_para 'horizonte.tipo'
.span-1.campo
  = h.text_field :profundidad_superior, disabled: bloqueado, placeholder: 'cm', class: 'prof_sup'
  = ayuda_para 'horizonte.profundidad_superior'
.span-1.campo
  = h.text_field :profundidad_inferior, disabled: bloqueado, placeholder: 'cm', class: 'prof_inf'
  = ayuda_para 'horizonte.profundidad_inferior'
.span-4
  = h.fields_for :limite do |h_l|
    .span-2.campo
      = h_l.collection_select :tipo_de_limite_id, @tipos_de_limite, :id, :valor,
        { include_blank: true }, { disabled: bloqueado }
      = ayuda_para 'limite.tipo'
    .span-2.last.campo
      = h_l.collection_select :forma_de_limite_id, @formas_de_limite, :id,
        :valor, { include_blank: true }, { disabled: bloqueado }
      = ayuda_para 'limite.forma'
.span-4
  = h.fields_for :color_seco do |h_c|
    .span-2.campo
      = h_c.text_field :hvc, disabled: bloqueado, class: 'munsell'
      = ayuda_para 'horizonte.color_seco'
  = h.fields_for :color_humedo do |h_c|
    .span-2.last.campo
      = h_c.text_field :hvc, disabled: bloqueado, class: 'munsell'
      = ayuda_para 'horizonte.color_humedo'
.span-3
  .span-3.last.campo
    = h.collection_select :textura_de_horizonte_id, @texturas, :id, :clase,
      { include_blank: true }, { disabled: bloqueado }
    = ayuda_para 'horizonte.textura'
.span-6
  = h.fields_for :estructura do |h_e|
    .span-2.campo
      = h_e.text_field :tipo, disabled: bloqueado
      = ayuda_para 'estructura.tipo'
    .span-2.campo
      = h_e.text_field :clase, disabled: bloqueado
      = ayuda_para 'estructura.clase'
    .span-2.last.campo
      = h_e.text_field :grado, disabled: bloqueado
      = ayuda_para 'estructura.grado'
.span-4
  =h.fields_for :consistencia do |h_c|
    .span-1.campo
      = h_c.text_field :seco, disabled: bloqueado
      = ayuda_para 'consistencia.seco'
    .span-1.campo
      = h_c.text_field :humedo, disabled: bloqueado
      = ayuda_para 'consistencia.humedo'
    .span-1.campo
      = h_c.text_field :mojado_plasticidad, disabled: bloqueado
      = ayuda_para 'consistencia.mojado_plasticidad'
    .span-1.last.campo
      = h_c.text_field :mojado_adhesividad, disabled: bloqueado
      = ayuda_para 'consistencia.mojado_adhesividad'
.span-1.campo
  = h.text_field :ph, disabled: bloqueado
  = ayuda_para 'horizonte.ph'
.span-1.campo
  = h.text_field :co3, disabled: bloqueado
  = ayuda_para 'horizonte.co3'
.span-2.campo
  = h.text_field :concreciones, disabled: bloqueado
  = ayuda_para 'horizonte.concreciones'
.span-2.campo
  = h.text_field :barnices, disabled: bloqueado
  = ayuda_para 'horizonte.barnices'
.span-2.campo
  = h.text_field :moteados, disabled: bloqueado
  = ayuda_para 'horizonte.moteados'
.span-unaymedia.campo
  = h.text_field :humedad, disabled: bloqueado
  = ayuda_para 'horizonte.humedad'
.span-1.campo
  = h.text_field :raices, disabled: bloqueado
  = ayuda_para 'horizonte.raices'
.span-3.last.campo
  = h.text_field :formaciones_especiales, disabled: bloqueado
  = ayuda_para 'formaciones_especiales'

.oculto= h.check_box :_destroy
