= field_set_tag 'Notas', class: 'celeste plegable span-22 last' do
  .span-21.last.campo
    .span-2= f.label :observaciones
    .span-19.last= f.text_area :observaciones, disabled: bloqueado
    = ayuda_para 'calicata.observaciones'
  .span-21.last.campo
    .span-2= f.label :etiquetas
    .span-19.last= f.text_field :etiquetas, disabled: bloqueado
    = ayuda_para 'calicata.etiquetas'
  .span-21.last.campo
    .span-2= f.label :reconocedores
    .span-19.last= f.text_field :reconocedores, disabled: bloqueado
    = ayuda_para 'calicata.reconocedores'
  - if f.object.usuario.present?
    .span-21.last.campo
      .span-2= f.label :usuario, "Cargado por"
      .span-19.last= f.text_field :usuario, disabled: true
      = ayuda_para 'calicata.usuario'
