= form_for(calicata, html: { class: 'simple span-24' }) do |f|

  - if calicata.errors.any?
    #mensaje_de_error.span-23
      %h2= "#{pluralize(@calicata.errors.count, "error")} impide(n) que se guarde esta calicata:"
      %ul
        - @calicata.errors.full_messages.each do |msg|
          %li= msg

  = field_set_tag 'Ficha de descripción edafológica', :class => 'span-23 last' do

    .campo-suelto.span-6.last
      .span-2= f.label :numero, 'Sitio N°'
      .span-3.append-1.last= f.text_field :numero

    = field_set_tag 'Ubicación', :class => 'span-22 last' do
      #referencia.span-22.last
        .span-4= f.label :ubicacion, 'Referencia'
        .span-17.last= f.text_field :ubicacion
      #ubicacion.span-16
        .span-4= f.label :ubicacion, 'Latitud Longitud Altura (m)'
        .span-12.last= f.text_field :ubicacion
      #fotos.span-6.last
        .span-2= f.label :fotos, 'Fotos'
        .span-3.last= f.number_field :fotos

    = field_set_tag 'Paisaje', :class => 'span-22 last' do
      #unidad_geomorfologica.span-22.last
        .span-4= f.label :paisaje
        .span-17.last= f.text_field :paisaje
      #posicion.span-16
        .span-4= f.label :posicion
        .span-12.last= f.text_field :posicion
      #pendiente.span-6 last
        .span-2= f.label :pendiente
        .span-3.last= f.text_field :pendiente
      #vegetacion.span-16
        .span-4= f.label :vegetacion
        .span-12.last= f.text_field :vegetacion
      #cobertura.span-6.last
        .span-2= f.label :cobertura
        .span-3.last= f.text_field :cobertura
      #material_original.span-22.last
        .span-4= f.label :material_original
        .span-17.last= f.text_field :material_original

    = field_set_tag 'Perfil', :class => 'span-22 last' do
      #taxonomia..span-22.last
        .span-4= f.label :taxonomia, 'Clasificación taxonómica'
        .span-17.last= f.text_field :taxonomia
      #esquema.span-22.last
        .span-4= f.label :esquema
        .span-17.last= f.text_field :esquema

      .span-22.last
        .span-2
          .span-2.texto-corto.last= label_tag :tipo_n, 'Clase Hz'
          .span-2.last= number_field_tag :tipo_n

        .span-2
          .span-2.texto-corto.last= label_tag :profundidad_n, 'Prof. inf.'
          .span-2.last= number_field_tag :profundidad_n

        .span-6
          .prepend-2.span-4.last= label_tag nil, 'Estructura', :class => 'subtitulo'
          .span-2
            .span-2.last= label_tag :estructura_t_n, 'Tipo'
            .span-2.last= text_field_tag :estructura_t_n
          .span-2
            .span-2.last= label_tag :estructura_c_n, 'Clase'
            .span-2.last= text_field_tag :estructura_c_n
          .span-2.last
            .span-2.last= label_tag :estructura_g_n, 'Grado'
            .span-2.last= text_field_tag :estructura_g_n

        .span-4
          .prepend-1.span-3.last= label_tag nil, 'Consistencia', :class => 'subtitulo'
          .span-2
            .span-2.last= label_tag :consistencia_s_n, 'Seco'
            .span-2.last= text_field_tag :consistencia_s_n
          .span-2.last
            .span-2.last= label_tag :consistencia_h_n, 'Húmedo'
            .span-2.last= text_field_tag :consistencia_h_n

        .span-2
          .span-2.texto-corto.last
            <label for="co3_n">CO<sub>3</sub></label>
          .span-2.last= text_field_tag :co3_n

        .span-3
          .span-3.texto-corto.last= label_tag :concreciones_n, 'Concreciones'
          .span-3.last= text_field_tag :concreciones_n

        .span-2.last
          .span-2.texto-corto.last= label_tag :barnices_n, 'Barnices'
          .span-2.last= text_field_tag :barnices_n

    #observaciones.prepend-media.span-22.last
      .span-4= f.label :observaciones
      .span-17.last= f.text_area :observaciones, :size => '40x3'

    .acciones.span-4.last= f.submit
