%h1 Lista de calicatas

= link_to 'Nueva Calicata', new_calicata_path

%table.centrado
  %tr
    %th Fecha
    %th Ubicación
    %th Número
    %th
    %th
    %th

  - @calicatas.each do |calicata|
    %tr
      %td= calicata.fecha
      %td= calicata.ubicacion.nil? ? '---' : calicata.ubicacion.coordenadas
      %td= calicata.numero
      %td= link_to 'Mostrar', calicata
      %td= link_to 'Editar', edit_calicata_path(calicata)
      %td= link_to 'Eliminar', calicata, confirm: '¿Estás seguro?', method: :delete
