= form_tag 'procesar_csv', class: 'span-24 last', id: 'csv'

= field_set_tag "Exportar a CSV", class: 'celeste_oscuro span-23 last' do

  #controles.span-22.last
    #marcar.span-4.opcion
      #marcar_tag.span-3.campo
        = label_tag 'check_marcar', 'Marcar todo'
      #desmarcar_tag.span-3.campo.desaparecer
        = label_tag 'check_marcar', 'Desmarcar todo'
      .span-1.last.campo
        = check_box_tag 'check_marcar', id: 'check_marcar'
    #encabezado.span-4.opcion
      #encabezado_tag.span-3.campo
        = label_tag 'incluir_encabezado', 'Incluye encabezado?'
      .span-1.last.campo
        = check_box_tag 'incluir_encabezado', id: 'incluir_encabezado'

  = field_set_tag "Atributos de las #{@alias.pluralize}", class: 'celeste span-22 last plegable' do

    #calicatas.atributos.span-22.last
      - @atributos.each do |a|
        .span-6.last.campo{class: cycle('celeste_oscuro', 'celeste')}
          .span-5
            = label_tag a
          .span-1.last
            = check_box_tag "atributos[#{a}]"

  .acciones.span-4= submit_tag 'Exportar'
