- if can? :read, @perfil
  = link_to 'Mostrar', @perfil
  = '|'
- if can?(:update, @perfil) or can?(:modificar, @perfil)
  = link_to 'Permisos', permisos_perfil_path(@perfil)
  = '|'
- if can? :update, @perfil.analisis
  = link_to 'Editar análisis', edit_perfil_analisis_index_path(@perfil)
  = '|'
- if can? :create, @perfil.adjuntos.build
  = link_to 'Adjuntar archivo', new_perfil_adjunto_path(@perfil)
  = '|'
= link_to 'Volver', perfiles_path
