= form_for perfil.preparar, html: { class: 'completa span-24' } do |f|

  = f.error_messages

  = field_set_tag t('.ficha'), class: 'celeste_oscuro span-23 last' do

    .span-23.last
      .span-4.campo
        .span-2.prepend-media= f.label :modal, t('.es_modal'), class: 'subtitulo'
        = f.check_box :modal, class: 'span-1 last', disabled: bloqueado
        = ayuda_para t('ayuda.perfil.modal')
      #serie
        = f.fields_for :serie do |fs|
          .span-17.campo.last
            .span-2= fs.label :nombre
            .span-15.last= fs.autocomplete_field :nombre,
              autocompletar_nombre_series_path,
              update_elements: { simbolo: '#perfil_serie_attributes_simbolo', provincia_id: '#perfil_serie_attributes_provincia_id' },
              disabled: bloqueado
            = ayuda_para t('ayuda.perfil.nombre')

          .span-13.prepend-4.campo.last
            .span-2= fs.label :provincia
            .span-11.last= fs.collection_select :provincia_id, Provincia.all, :id, :nombre,
              { prompt: true }, disabled: bloqueado, required: true
          .span-4.prepend-media.last.campo
            .span-2= fs.label :simbolo
            .span-2.last= fs.autocomplete_field :simbolo,
              autocompletar_simbolo_series_path, disabled: bloqueado
            = ayuda_para t('ayuda.perfil.simbolo')

    = render 'perfiles/clasico/descripcion_del_sitio', f: f, bloqueado: bloqueado
    = render 'perfiles/clasico/descripcion_de_los_horizontes', f: f, bloqueado: bloqueado
    = render 'perfiles/clasico/notas', f: f, bloqueado: bloqueado

    - if mapa
      = render 'perfiles/clasico/mapa', f: f, bloqueado: bloqueado

    .acciones.span-8.last
      .span-4= f.submit unless bloqueado
      .span-4.last= f.submit t('helpers.submit.perfil.analiticos') unless bloqueado
