= form_for perfil_preparado, html: { class: 'completa span-24' } do |f|

  = f.error_messages

  = field_set_tag 'Ficha de descripción edafológica', class: 'celeste_oscuro span-23 last' do

    .span-23.last
      .span-4.campo
        .span-2.prepend-media= f.label :modal, 'Es modal?', class: 'subtitulo'
        = f.check_box :modal, class: 'span-1 last', disabled: bloqueado
        = f.object.ayuda :modal
      #serie
        = f.fields_for :serie do |fs|
          .span-13.campo
            .span-2= fs.label :nombre, 'Nombre'
            .span-11.last= fs.text_field :nombre, disabled: bloqueado
            = f.object.ayuda :nombre
          .span-4.prepend-media.last.campo
            .span-2= fs.label :simbolo, 'Símbolo'
            .span-2.last= fs.text_field :simbolo, disabled: bloqueado
            = f.object.ayuda :simbolo

    = render partial: 'perfiles/completa/descripcion_del_sitio',
        locals: {f: f, bloqueado: bloqueado}
    = render partial: 'perfiles/completa/descripcion_de_los_horizontes',
        locals: {f: f, bloqueado: bloqueado}
    = render partial: 'perfiles/completa/notas',
        locals: {f: f, bloqueado: bloqueado}
    = render partial: 'perfiles/completa/mapa',
        locals: {f: f, bloqueado: bloqueado}

    .acciones.span-8.last
      .span-4= f.submit unless bloqueado
      .span-4.last= f.submit('Datos Analíticos', name: 'analiticos') unless bloqueado
