.row.perfil{ class: perfil.clase_modal }
  .col-3.col-sm-2.order-1
    .d-none.d-md-flex= perfil.fecha
    .d-md-none.d-flex= perfil.fecha_corta
  .col-12.col-md.order-5.order-md-2
    = perfil.link_a_serie
  -# < Remueve el espacio en blanco que agrega haml
  .col-12.col-md-4.order-6.order-md-3.ocultar-vacios<
    = perfil.descripcion_ubicacion
  .col-3.col-md-2.order-4.text-left
    = perfil.link_a_self
  .col-md-2.order-md-7.order-3
    -# FIXME Mover a acciones globales y dejar sólo el checkbox
    = render 'acciones', perfil: perfil
  -# Columna usada en búsquedas, no index, por ahora (acciones masivas, etc)
  -#.checks.col.d-none
  -#  = check_box_tag 'perfil_ids[]', perfil.id
