%tr
  %td.fecha=      perfil.fecha
  %td.serie
    = perfil.link_a_serie
  %td.ubicacion=  perfil.ubicacion.try(:descripcion).try(:truncate, 70)
  %td.numero.centrado
    = link_to perfil.numero, perfil, class: 'perfil_numero'
  %td.modal=      "✓" if perfil.modal?
  %td.acciones
    - if can? :update, perfil
      = link_to 'Editar', edit_perfil_path(perfil)
      = '|'
      = link_to 'Permisos', permisos_path(modelo: 'perfil', id: perfil)
    - if can? :delete, perfil
      = '|'
      = link_to 'Eliminar', perfil,
          data: { confirm: t(:confirmar) }, method: :delete
  %td.checks
    = check_box_tag 'perfil_ids[]', perfil.id
