.botonera
  - if can? :read, @perfil
    = link_to 'Mostrar', @perfil
    = '|'
  - if can?(:update, @perfil) or can?(:modificar, @perfil)
    = link_to 'Permisos', permisos_path(modelo: 'perfil', id: @perfil)
    = '|'
  - if can? :update, @perfil.analiticos
    = link_to 'Editar analíticos', editar_analiticos_perfil_path(@perfil)
    = '|'
  - if can? :create, @perfil => Adjunto
    = link_to 'Adjuntar archivo', new_perfil_adjunto_path(@perfil)
    = '|'
  = link_to 'Volver', perfiles_path

= render partial: ficha, locals: { perfil: @perfil, bloqueado: false }

= volver_arriba
