.botonera
  - if can? :read, @perfil.object
    = link_to 'Mostrar', perfil_analiticos_path(@perfil)
    = '|'
  - if can? :update, @perfil.object
    = link_to 'Editar perfil', edit_perfil_path(@perfil)
    = '|'
  = link_to 'Volver', perfiles_path

  = render 'fichas/selector', origen: editar_analiticos_perfil_path(@perfil)

= render partial: "analiticos/#{@ficha.identificador}/tabla", locals: {  perfil: @perfil,
                                      analiticos: @perfil.analiticos,
                                      bloqueado: false }

= volver_arriba
