= form_tag 'procesar_csv', class: 'span-24 last', id: 'csv'

= field_set_tag "Exportar a CSV", class: 'celeste_oscuro span-23 last' do

  #controles.span-22.last
    #marcar.span-4.opcion
      #marcar_tag.span-3.campo
        = label_tag 'check_marcar', 'Marcar todo'
      #desmarcar_tag.span-3.campo.desaparecer
        = label_tag 'check_marcar', 'Desmarcar todo'
      .span-1.last.campo
        = check_box_tag 'check_marcar', true, false, id: 'check_marcar'
    #encabezado.span-4.opcion
      #encabezado_tag.span-3.campo
        = label_tag 'incluir_encabezado', 'Incluye encabezado?'
      .span-1.last.campo
        = check_box_tag 'incluir_encabezado', true, true, id: 'incluir_encabezado'

  = field_set_tag "Atributos de los perfiles", class: 'celeste span-22 last plegable' do

    -# TODO usar fields_for?
    #perfiles.checks.span-22.last
      - atributos.each do |a|
        .span-3.campo{class: cycle('celeste_oscuro', 'celeste')}
          = label_tag do
            = check_box_tag("atributos[]", a, marcados.include?(a)) + a.to_s.humanize

  = field_set_tag "Agregar perfiles para exportar", class: 'celeste span-22 last plegable' do

    .span-21.campo= render partial: 'comunes/perfiles_asociados',
      locals: { perfiles: @perfiles, param: 'csv', bloqueado: false }

  .acciones.span-4= submit_tag t('.submit')
