= form_tag procesar_perfiles_path(format: :csv), class: 'span-24 last', id: 'csv'

= field_set_tag t('.exportar_csv'), class: 'celeste_oscuro span-23 last' do

  #controles.span-22.last
    #marcar.span-4.opcion
      #marcar_tag.span-3.campo
        = label_tag 'check_marcar', t('.todos_los_atributos')
      #desmarcar_tag.span-3.campo.desaparecer
        = label_tag 'check_marcar', t('.todos_los_atributos')
      .span-1.last.campo
        = check_box_tag 'check_marcar', true, false, id: 'check_marcar'
    #encabezado.span-4.opcion
      #encabezado_tag.span-3.campo
        = label_tag 'incluir_encabezado', t('.incluir_encabezado')
      .span-1.last.campo
        = check_box_tag 'incluir_encabezado', true, true, id: 'incluir_encabezado'

  = field_set_tag t('.agregar_perfiles'), class: 'celeste span-22 last plegable' do

    .span-21.campo= render partial: 'comunes/perfiles_asociados',
      locals: { perfiles: @perfiles, param: 'csv', bloqueado: false }

    .span-21.campo
      .span-6= submit_tag t('.seleccionar_por_provincia')

  = field_set_tag t('.atributos_de_perfiles'), class: 'celeste span-22 last plegable' do

    #perfiles.checks.span-22.last.atributos_perfiles
      = collection_check_boxes(:seleccion, :atributos, atributos, :to_s, :humanize) do |a|
        .span-21.last.campo{class: cycle('celeste_oscuro', 'celeste')}
          = a.label do
            = a.text
            = a.check_box

  .acciones
    .span-4= submit_tag t('.submit')
