#lista
  = form_tag @regresar, method: :put, class: 'span-24', id: 'seleccionar'

  %table.centrado
    %thead
      %tr
        %th= link_para_ordenar :fecha,        'Fecha'
        %th= link_para_ordenar :nombre,       'Nombre'
        %th= link_para_ordenar :ubicacion,    'Ubicación'
        %th= link_para_ordenar :numero,       'Número'
        %th#modal= link_para_ordenar :modal,  'Es modal?'
        %th.marcar
          #marcar_tag= label_tag 'check_marcar', 'Marcar todo'
          #desmarcar_tag.desaparecer= label_tag 'check_marcar', 'Desmarcar todo'
          = check_box_tag 'check_marcar', id: 'check_marcar'

    %tbody
      - @perfiles.each do |perfil|
        %tr
          %td= perfil.fecha
          %td= perfil.nombre
          %td= perfil.ubicacion.try :descripcion
          %td= perfil.numero
          %td= "✓" if perfil.modal?
          %td.checks
            = check_box_tag 'perfil_ids[]', perfil.id

  .acciones.span-4= submit_tag 'Seleccionar'
