#lista
  .botonera
    - if can? :create, Perfil
      = link_to t('.nuevo_perfil'), new_perfil_path

    #paginacion
      = paginate @perfiles
      = elegir_filas 'perfiles'

  %table
    %thead
      %tr
        %th#fecha=      link_para_ordenar :fecha,     t('.fecha')
        %th#nombre=     link_para_ordenar :nombre,    t('.nombre')
        %th#ubicacion=  link_para_ordenar :ubicacion, t('.ubicacion')
        %th#numero=     link_para_ordenar :numero,    t('.numero')
        %th#modal=      link_para_ordenar :modal,     t('.es_modal')
        %th.acciones

    %tbody
      = render @perfiles

  = volver_arriba
