.botonera
  - if can?(:update, @perfil) or can?(:modificar, @perfil)
    = link_to 'Editar', edit_perfil_path(@perfil)
    = '|'
    = link_to 'Permisos', permisos_path(modelo: 'perfil', id: @perfil)
    = '|'
  - if can? :read, @perfil
    = link_to 'Mostrar analíticos', perfil_analiticos_path(@perfil)
    = '|'
  - if can? :read, @perfil => Adjunto
    = link_to 'Mostrar adjuntos', perfil_adjuntos_path(@perfil)
    = '|'
  = link_to 'Volver', perfiles_path

-# TODO issue #41
= render partial: ficha, locals: { perfil: @perfil, bloqueado: true }

= volver_arriba
