.botonera
  - if can?(:update, @perfil) || can?(:modificar, @perfil)
    = link_to t('editar'), edit_perfil_path(@perfil)
    = '|'
    = link_to t('permisos'), permisos_path(modelo: 'perfil', id: @perfil)
    = '|'
  - if can?(:delete, @perfil)
    = link_to t('eliminar'), @perfil, data: { confirm: t(:confirmar) }, method: :delete
    = '|'
  - if can? :read, @perfil
    = link_to t('exportar'), perfil_path(@perfil, format: :csv)
    = '|'
    = link_to t('.mostrar_analiticos'), perfil_analiticos_path(@perfil)
    = '|'
  - if can? :read, @perfil => Adjunto
    = link_to t('.mostrar_adjuntos'), perfil_adjuntos_path(@perfil)
    = '|'
  = link_to t('volver'), perfiles_path

  = render 'fichas/selector', origen: perfil_path(@perfil)

-# TODO Hacer vista especial para el show (issue #41)
= render @ficha.identificador, perfil: @perfil.decorate, bloqueado: true, mapa: true
