%table.busquedas
  %caption= caption
  %thead
    %tr
      %th.nombre= t('.nombre')
      - if columna_publicas
        %th.publica= t('.publica')
      %th.acciones

  %tbody
    - busquedas.each do |busqueda|
      %tr
        %td.nombre= busqueda.nombre
        - if columna_publicas
          %td.publica= '✓' if busqueda.publica?
        %td.acciones
          = link_to t('.resultados'), busqueda
          - if can? :manage, busqueda
            = '|'
            = link_to t('editar'), edit_busqueda_path(busqueda)
          - if can? :manage, busqueda
            = '|'
            = link_to t('eliminar'), busqueda, data: { confirm: t(:confirmar) }, method: :delete
