= field_set_tag nil, class: 'fields condition', data: {'object-name' => f.object_name} do
  %legend Condiciones #{button_to_remove_fields "Quitar", f}

  = f.attribute_fields do |a|
    = render 'attribute_fields', f: a

  = f.predicate_select compounds: false

  = f.value_fields do |v|
    = render 'value_fields', f: v

  = button_to_add_fields "Agregar valor", f, :value
