= setup_search_form f

= field_set_tag titulo_de_la_accion, class: 'celeste_oscuro' do

  = fields_for @busqueda do |fb|

    = fb.error_messages

    - if usuario_signed_in?
      .span-23.last.campo
        .span-2= fb.label :nombre
        .span-17= fb.text_field :nombre, autofocus: true
        .span-4.last= t('.si_queres_guardarla')
      .span-23.last.campo
        .span-2= fb.label :publico
        .span-21.last= fb.check_box :publico
        = ayuda_para t('ayuda.busqueda.publico')

  = field_set_tag t('.consulta'), class: 'consulta celeste' do

    = field_set_tag t('.ordenar_por'), class: 'celeste_oscuro', id: 'orden' do
      = f.sort_fields do |s|
        = render 'sort_fields', f: s
      = button_to_add_fields t('.agregar'), f, :sort

    = field_set_tag t('.grupos_de_condiciones'), class: 'celeste_oscuro' do
      = f.grouping_fields do |g|
        = render 'grouping_fields', f: g
      = button_to_add_fields t('.agregar_grupo'), f, :grouping

  .acciones.span-4.last= f.submit
