= setup_search_form f

= field_set_tag titulo_de_la_accion, class: 'celeste_oscuro span-24 last' do

  = fields_for @busqueda do |fb|

    = fb.error_messages

    - if usuario_signed_in?
      .span-23.last.campo
        .span-2= fb.label :nombre
        .span-17= fb.text_field :nombre, autofocus: true
        .span-4.last (si querés guardarla)
      .span-23.last.campo
        .span-2= fb.label :publico
        .span-21.last= fb.check_box :publico
        = fb.object.ayuda :publico

  = field_set_tag 'Consulta', class: 'consulta celeste span-23 last' do

    = field_set_tag 'Ordenar por', class: 'celeste_oscuro span-22 last', id: 'orden' do
      = f.sort_fields do |s|
        = render 'sort_fields', f: s
      = button_to_add_fields "Agregar", f, :sort

    = field_set_tag 'Grupos de condiciones', class: 'celeste_oscuro span-22 last' do
      = f.grouping_fields do |g|
        = render 'grouping_fields', f: g
      = button_to_add_fields "Agregar grupo", f, :grouping

  .acciones.span-4.last= f.submit
