= field_set_tag nil, class: 'fields grupo', data: {'object-name' => f.object_name} do
  %legend!= "#{t('.cumplir_condiciones', selector: f.combinator_select)} #{button_to_remove_fields t('.quitar'), f}"

  = f.condition_fields do |c|
    = render 'condition_fields', f: c
  = button_to_add_fields t('.agregar_condiciones'), f, :condition

  = f.grouping_fields do |g|
    = render 'grouping_fields', f: g
  = button_to_nest_fields t('.agregar_subgrupo'), :grouping
