%p#notice= notice

%p
  %b Consulta:
  = @busqueda.consulta
%p
  %b Usuario:
  = @busqueda.usuario_id
%p
  %b Nombre:
  = @busqueda.nombre

= link_to 'Edit', edit_busqueda_path(@busqueda)
\|
= link_to 'Back', busquedas_path
