#bienvenida
  .span-10
    %h2 Bienvenido a SiSINTA

    %h3 Búsqueda de perfiles

    %p Actualmente hay #{Perfil.count} perfiles cargados en #{Serie.count} series.

    = search_form_for @busqueda do |b|
      .span-4=  b.label :serie_nombre_or_numero_cont, 'Por nombre o número'
      .span-6.last= b.text_field :serie_nombre_or_numero_cont

      .span-2= b.submit 'Buscar'

  .span-14.last
    #mapa{ data: { geojson: perfiles_path(format: :geojson) }}
