#arbol_de_contenidos.barra
  %ul.menu
    %li
      .plegable Perfiles
      %ul.submenu
        %li
          = link_to 'Ver', calicatas_path
        %li
          Exportar
          %ul.submenu
            %li= link_to 'a CSV', calicatas_preparar_csv_path
            %li= link_to 'a GeoJSON', calicatas_geo_path(format: :json)
    %li
      .plegable Horizontes
      %ul.submenu
        %li
          Exportar
          %ul.submenu
            %li= link_to 'a CSV', horizontes_preparar_csv_path
    %li
      .plegable Grupos
      %ul.submenu
        %li= link_to 'Ver', grupos_path
    %li
      .plegable Fases
      %ul.submenu
        %li= link_to 'Ver', fases_path

#bienvenida.cuerpo
  %h2 Bienvenido a SiSINTA
