#arbol_de_contenidos.centrado
  %ul.menu
    %li
      = link_to 'Calicatas', calicatas_path
      %ul.submenu
        %li
          Exportar
          %ul.submenu
            %li= link_to 'a CSV', calicatas_preparar_csv_path
            %li= link_to 'a GeoJSON', calicatas_geo_path(format: :json)
    %li
      = link_to 'Series', series_path
      %ul.submenu
        %li
          Exportar
          %ul.submenu
            %li= link_to 'a CSV', series_preparar_csv_path
            %li= link_to 'a GeoJSON', series_geo_path(format: :json)
    %li
      Horizontes
      %ul.submenu
        %li
          Exportar
          %ul.submenu
            %li= link_to 'a CSV', horizontes_preparar_csv_path
    %li= link_to 'Grupos', grupos_path
    %li= link_to 'Fases', fases_path

#bienvenida
  %h2 Bienvenido a SiSINTA
