#bienvenida
  %h2 Bienvenido a SiSINTA

  %p= "Actualmente hay #{Perfil.count} perfiles cargados en #{Serie.count} series."

  %h3 Búsqueda de perfiles

  .span-20
    = search_form_for @busqueda do |b|
      .span-4=  b.label :serie_nombre_or_numero_cont, "Por nombre o número"
      .span-16.last= b.text_field :serie_nombre_or_numero_cont

      .span-2= b.submit "Buscar"
