#bienvenida
  %h2 Bienvenido a SiSINTA

  %h3 Búsqueda de perfiles

  .span-20
    = search_form_for @busqueda do |b|
      .span-4=  b.label :serie_nombre_or_numero_cont, "Por nombre o número"
      .span-16.last= b.text_field :serie_nombre_or_numero_cont

      .span-4=  b.label :tags_name_cont, "con la etiqueta"
      .span-16.last= b.autocomplete_field :tags_name_cont,
        autocompletar_etiquetas_perfiles_path, data: { delimiter: ', ' }

      .span-2= b.submit "Buscar"
