#arbol_de_contenidos.barra= render 'barra'

#bienvenida.cuerpo
  %h2 Bienvenido a SiSINTA

  %h3 Búsqueda de perfiles

  .span-20
    = search_form_for @busqueda do |b|
      .span-4=  b.label :nombre_or_numero_cont, "Por nombre o número"
      .span-16.last= b.text_field :nombre_or_numero_cont

      .span-4=  b.label :tags_name_cont, "y etiqueta"
      .span-16.last= b.text_field :tags_name_cont

      .span-2= b.submit "Buscar"
