<h2>Cambiar password</h2>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div><%= f.label :password, "Nuevo password" %><br />
  <%= f.password_field :password %></div>

  <div><%= f.label :password_confirmation, "Confirmá tu nuevo password" %><br />
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Cambiar mi password" %></div>
<% end %>

<%= render :partial => "devise/shared/links" %>
