= form_for(@grupo, html: { class: 'span-24' }) do |f|

  = f.error_messages

  = field_set_tag titulo_de_la_accion, class: 'celeste_oscuro span-23 last' do

    = field_set_tag 'Definición', class: 'celeste plegable span-22 last' do
      .span-18.campo
        .span-2= f.label :descripcion, 'Descripción'
        .span-16.last= f.text_field :descripcion, disabled: bloqueado
        = ayuda_para('grupo.descripcion')
      .span-4.last.campo
        .span-2= f.label :codigo, 'Código'
        .span-1.last= f.text_field :codigo, disabled: bloqueado
        = ayuda_para('grupo.codigo')

    - unless nuevo
      = field_set_tag 'Perfiles asociados', class: 'celeste plegable span-22 last' do

        .span-21.last= render partial: 'comunes/perfiles_asociados',
          locals: { perfiles: @grupo.perfiles, param: 'perfiles', bloqueado: bloqueado }

    - unless bloqueado
      .acciones.span-4.last= f.submit
