= form_for(@fase, html: { class: 'span-24' }) do |f|

  = f.error_messages

  = field_set_tag titulo_de_la_accion, class: 'celeste_oscuro span-23 last' do

    = field_set_tag 'Definición', class: 'celeste plegable span-22 last' do
      .span-18.campo
        .span-2= f.label :nombre
        .span-16.last= f.text_field :nombre, disabled: bloqueado
      .span-4.last.campo
        .span-2= f.label :codigo, 'Código'
        .span-1.last= f.text_field :codigo, disabled: bloqueado

    - unless nueva
      = field_set_tag 'Perfiles asociados', class: 'celeste plegable span-22 last' do

        .span-21.last= render partial: 'comunes/perfiles_asociados',
          locals: { perfiles: @fase.perfiles, param: 'fase', bloqueado: bloqueado }

    - unless bloqueado
      .acciones.span-4.last= f.submit
