#equipo
  = form_for @equipo do |f|

    = field_set_tag titulo_de_la_accion, class: 'celeste_oscuro span-24 last' do

      = f.error_messages

      = field_set_tag 'Datos del equipo de trabajo', class: 'celeste plegable span-23 last' do

        .span-22.campo
          .span-2= f.label :nombre
          .span-20.last= f.text_field :nombre, autofocus: true, required: true
          = ayuda_para('equipo.nombre')

        = field_set_tag 'Miembros', class: 'celeste_oscuro plegable span-22 last' do

          - if @equipo.miembros.any?
            #miembros.span-22
              #x.span-1.append-21.borrar X
              = render partial: 'miembro', collection: @equipo.miembros,
                locals: { bloqueado: false }

          = f.fields_for :nuevo_miembro do |fm|
            #agregar_miembro.span-21.last
              = fm.hidden_field :id
              .span-2= fm.label :nombre
              .span-7.nombre= fm.autocomplete_field :nombre,
                autocomplete_usuario_nombre_usuarios_path,
                update_elements: { id: '#equipo_nuevo_miembro_id',
                  email: '#equipo_nuevo_miembro_email' }
              .span-2= fm.label :email
              .span-7.email= fm.autocomplete_field :email,
                autocomplete_usuario_email_usuarios_path,
                update_elements: { id: '#equipo_nuevo_miembro_id',
                  nombre: '#equipo_nuevo_miembro_nombre' }
              .span-3.last= f.submit t('.agregar_miembro')

      .acciones.span-4.last= f.submit
