.botonera
  - if can? :update, @equipo
    = link_to 'Editar', edit_equipo_path(@equipo)
    = '|'
  = link_to 'Volver', equipos_path

#equipo
  = field_set_tag titulo_de_la_accion, class: 'celeste_oscuro span-24 last' do

    - if @equipo.miembros.any?
      = field_set_tag 'Miembros', class: 'celeste plegable span-23 last' do

        #miembros
          = render partial: 'miembro', collection: @equipo.miembros,
            locals: { bloqueado: true }
