= form_for current_usuario, url: configurar_usuarios_path, html: { class: 'span-24' } do |f|

  = f.error_messages

  = field_set_tag 'Editá tus preferencias', class: 'celeste_oscuro span-24' do

    .span-24
      .span-3= f.label :srid, 'SRID por defecto'
      .span-9.last= f.collection_select :srid, formatos_de_coordenadas, :srid, :descripcion

    .span-24
      .span-3= f.label :ficha, 'Ficha para calicatas'
      .span-9.last= f.select :ficha, lista_de_fichas

    .span-4= f.submit "Actualizar preferencias"
