= fields_for 'usuarios[]', usuario do |f|
  %tr
    %td.nombre= usuario.nombre
    %td.email= usuario.email
    %td.rol
      - if can? :update, usuario.object
        = f.select :rol_global, roles_globales(usuario.rol_global), include_blank: true
      - else
        = usuario.rol_global
    %td.acciones
      = link_to 'Eliminar', usuario,
          data: { confirm: t(:confirmar) }, method: :delete
