%tr
  %td{colspan: 2}= usuario.nombre
  %td{colspan: 2}= usuario.email
  - @roles.each do |rol|
    %td= radio_button_tag("usuarios[#{usuario.id}][rol_ids][]", rol.id, usuario.es?(rol))
  %td.acciones
    = link_to 'Eliminar', usuario,
        data: { confirm: t(:confirmar) }, method: :delete
