#lista
  .botonera= render 'botonera_indice'


  = form_tag usuarios_path, method: :put do |f|

    %table#roles.centrado
      %tr
        %th{colspan: 2} Usuario
        %th{colspan: 2} Email
        - @roles.each do |rol|
          %th= rol.nombre.titleize
        %th
      = render @usuarios

    = submit_tag 'Asignar roles'

  .botonera= render 'botonera_indice'
