= form_for @perfil, url: update_analiticos_perfil_path(@perfil),
                      method: :put, html: { class: 'completa span-24' } do |f|

  = f.error_messages

  = field_set_tag t('.datos_analiticos'), class: 'celeste_oscuro span-23 last' do

    - @perfil.analiticos.each do |a|
      = f.fields_for 'analiticos_attributes[]', a do |fa|
        = fa.hidden_field :id

    = field_set_tag nil, class: 'celeste plegable span-22 last' do

      %table#tabla_analiticos.span-21.last
        %colgroup#titulos{span: 2}
        %colgroup#datos{span: 8}
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.registro')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :registro, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.horizonte')
          - @perfil.analiticos.each do |a|
            %td.dato= text_field_tag nil, a.horizonte.tipo, disabled: true
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.profundidad')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :profundidad_muestra, disabled: bloqueado
        %tr
          %td.titulo{colspan: 1, rowspan: 3}= label_tag nil, t('.carbono_organico')
          %td.titulo{colspan: 1}= label_tag nil, 'C %'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :carbono_organico_c, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo= label_tag nil, 'N %'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :carbono_organico_n, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo= label_tag nil, 'C/N'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :carbono_organico_cn, disabled: bloqueado
        %tr
          %td.titulo{colspan: 1, rowspan: 10}= label_tag nil, t('.textura.label')
          %td.titulo.largo= label_tag nil, t('.textura.arcilla')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arcilla, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, t('.textura.limo_2_20')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :limo_2_20, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, t('.textura.limo_2_50')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :limo_2_50, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, t('.textura.arena_muy_fina')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arena_muy_fina, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, t('.textura.arena_fina')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arena_fina, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, t('.textura.arena_media')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arena_media, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, t('.textura.arena_gruesa')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arena_gruesa, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, t('.textura.arena_muy_gruesa')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arena_muy_gruesa, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, t('.textura.arena_total')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arena_total, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, t('.textura.gravas')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :gravas, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, ca_co_3_label
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :ca_co3, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.humedad')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :humedad, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 1, rowspan: 3}= label_tag nil, t('.capacidad_de_agua.label')
          %td.titulo{colspan: 1}= label_tag nil, t('.capacidad_de_agua.agua_3_atm')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :agua_3_atm, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 1}= label_tag nil, t('.capacidad_de_agua.agua_15_atm')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :agua_15_atm, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 1}= label_tag nil, t('.capacidad_de_agua.agua_util')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :agua_util, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.ph_pasta')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :ph_pasta, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.ph_h2o')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :ph_h2o, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.ph_kcl')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :ph_kcl, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.resistencia_pasta')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :resistencia_pasta, disabled: bloqueado,
              placeholder: 'Ω'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.conductividad')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :conductividad, disabled: bloqueado,
              placeholder: 'mmhos/cm'
        %tr
          %td.titulo.largo{colspan: 1, rowspan: 4}= label_tag nil, t('.bases.label')
          %td.titulo= label_tag nil, 'Ca++'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :base_ca, disabled: bloqueado
        %tr
          %td.titulo= label_tag nil, 'Mg++'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :base_mg, disabled: bloqueado
        %tr
          %td.titulo= label_tag nil, 'K+'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :base_k, disabled: bloqueado
        %tr
          %td.titulo= label_tag nil, 'Na+'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :base_na, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.valor_s')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :s, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, h_plus_label
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :h, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.valor_t')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :t, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.saturacion_t')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :saturacion_t, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.saturacion_s_h')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :saturacion_s_h, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, t('.densidad_aparente')
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :densidad_aparente, disabled: bloqueado

    .acciones.span-4.last= f.submit t('.actualizar_datos') unless bloqueado
