- if can? :update, @perfil
  = link_to 'Editar', editar_todos_perfil_analiticos_path(@perfil)
  = '|'
- if can? :read, @perfil
  = link_to 'Mostrar perfil', @perfil
  = '|'
- if can? :read, @perfil.adjuntos.build
  = link_to 'Mostrar adjuntos', perfil_adjuntos_path(@perfil)
  = '|'
= link_to 'Volver', perfiles_path
