= form_for @perfil, url: update_analiticos_perfil_path(@perfil),
                      method: :put, html: { class: 'completa span-24' } do |f|

  = f.error_messages

  = field_set_tag 'Datos analíticos', class: 'celeste_oscuro span-23 last' do

    - @perfil.analiticos.each do |a|
      = f.fields_for 'analiticos_attributes[]', a do |fa|
        = fa.hidden_field :id

    = field_set_tag nil, class: 'celeste plegable span-22 last' do

      %table#tabla_analiticos.span-21.last
        %colgroup#titulos{span: 2}
        %colgroup#datos{span: 8}
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'N° registro'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :registro, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Horizonte'
          - @perfil.analiticos.each do |a|
            %td.dato= text_field_tag nil, a.horizonte.tipo, disabled: true
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Profundidad'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :profundidad_muestra, disabled: bloqueado
        %tr
          %td.titulo{colspan: 1, rowspan: 3}= label_tag nil, 'Carbono orgánico'
          %td.titulo{colspan: 1}= label_tag nil, 'C %'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :carbono_organico_c, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo= label_tag nil, 'N %'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :carbono_organico_n, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo= label_tag nil, 'C/N'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :carbono_organico_cn, disabled: bloqueado
        %tr
          %td.titulo{colspan: 1, rowspan: 8}= label_tag nil, 'Textura'
          %td.titulo.largo= label_tag nil, 'Arcilla < 2u'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arcilla, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, 'Limo 2-20u'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :limo_2_20, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, 'Limo 2-50u'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :limo_2_50, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, 'Arena muy fina'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arena_muy_fina, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, 'Arena fina'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arena_fina, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, 'Arena media'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arena_media, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, 'Arena gruesa'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arena_gruesa, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo.largo= label_tag nil, 'Arena muy gruesa'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :arena_muy_gruesa, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, ca_co_3_label
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :ca_co3, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Equiv. de humedad'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :humedad, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 1, rowspan: 3}= label_tag nil, 'Capacidad de agua'
          %td.titulo{colspan: 1}= label_tag nil, '3 atm'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :agua_3_atm, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 1}= label_tag nil, '15 atm'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :agua_15_atm, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 1}= label_tag nil, 'Agua útil'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :agua_util, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'pH en pasta'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :ph_pasta, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'pH en H2O (1:2,5)'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :ph_h2o, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'pH en KCL (1:2,5)'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :ph_kcl, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Resistencia pasta'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :resistencia_pasta, disabled: bloqueado,
              placeholder: 'Ω'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Conductividad'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :conductividad, disabled: bloqueado,
              placeholder: 'mmhos/cm'
        %tr
          %td.titulo.largo{colspan: 1, rowspan: 4}= label_tag nil, 'Bases intercambiables'
          %td.titulo= label_tag nil, 'Ca++'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :base_ca, disabled: bloqueado
        %tr
          %td.titulo= label_tag nil, 'Mg++'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :base_mg, disabled: bloqueado
        %tr
          %td.titulo= label_tag nil, 'K+'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :base_k, disabled: bloqueado
        %tr
          %td.titulo= label_tag nil, 'Na+'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :base_na, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Valor S'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :s, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, h_plus_label
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :h, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Valor T'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :t, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Satur. (sobre T)'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :saturacion_t, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, '% Satur. (S + H)'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :saturacion_s_h, disabled: bloqueado,
              placeholder: '%'
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Densidad aparente'
          - @perfil.analiticos.each do |a|
            = f.fields_for 'analiticos_attributes[]', a do |f_a|
              %td.dato= f_a.text_field :densidad_aparente, disabled: bloqueado

    .acciones.span-4.last= f.submit 'Actualizar datos' unless bloqueado
