.botonera
  - if can? :update, @perfil
    = link_to 'Editar', editar_analiticos_perfil_path(@perfil)
    = '|'
  - if can? :read, @perfil
    = link_to 'Mostrar perfil', @perfil
    = '|'
  - if can? :read, @perfil => Adjunto
    = link_to 'Mostrar adjuntos', perfil_adjuntos_path(@perfil)
    = '|'
  = link_to 'Volver', perfiles_path

= render partial: 'tabla', locals: {  perfil: @perfil.decorate,
                                      analiticos: @perfil.analiticos,
                                      bloqueado: true }

= volver_arriba
