.botonera
  - if can? :update, @perfil
    = link_to t('editar'), editar_analiticos_perfil_path(@perfil)
    = '|'
  - if can? :read, @perfil
    = link_to t('.mostrar_perfil'), @perfil
    = '|'
  - if can? :read, @perfil => Adjunto
    = link_to t('.mostrar_adjuntos'), perfil_adjuntos_path(@perfil)
    = '|'
  = link_to t('volver'), perfiles_path

  = render 'fichas/selector', origen: perfil_analiticos_path(@perfil)

-# FIXME Inicializar un Model @ficha que responda a to_partial_path correctamente, o usar un Resolver
= render "analiticos/#{@ficha.identificador}/tabla",
    perfil: @perfil.decorate, analiticos: @perfil.analiticos.decorate, bloqueado: true
