- if can?(:update, @serie) or can?(:modificar, @serie)
  = link_to 'Editar', edit_serie_path(@serie)
  = '|'
  = link_to 'Permisos', permisos_serie_path(@serie)
  = '|'
= link_to 'Volver', series_path
