#serie

  = form_for @serie, html: { class: 'span-24' } do |f|

    = field_set_tag @titulo, class: 'celeste_oscuro span-24 last' do

      = f.error_messages

      = field_set_tag 'Datos de la serie', class: 'celeste plegable span-23 last' do

        .span-19.campo
          .span-2= f.label :nombre
          .span-17.last= f.text_field :nombre, autofocus: true, required: true
          = ayuda_para('serie.nombre')
        .span-3.campo.last
          .span-2= f.label :simbolo
          .span-1.last= f.text_field :simbolo, required: true
          = ayuda_para('serie.simbolo')

        .span-22.campo
          .span-2= f.label :descripcion, 'Descripción'
          .span-20.last= f.text_area :descripcion
          = ayuda_para('serie.descripcion')

      = field_set_tag 'Perfiles asociados', class: 'celeste plegable span-23 last' do

        .span-22.campo= render partial: 'comunes/perfiles_asociados',
          locals: { perfiles: @serie.perfiles, param: 'serie' }

      .acciones.span-4.last= f.submit
