= form_for @serie, html: { class: 'span-24'} do |f|

  = f.error_messages

  = field_set_tag 'Descripción de la serie', :class => 'azul_claro span-14 last' do

    = field_set_tag '', :class => 'celeste span-13 last' do
      .campo.span-12.last
        .span-4= f.label :nombre
        .span-8.last= f.text_field :nombre
      .campo.span-12.last
        .span-4= f.label :simbolo
        .span-8.last= f.text_field :simbolo
      .campo.span-12.last
        .span-4= f.label :provincia
        .span-8.last= f.text_field :provincia
      .campo.span-12.last
        .span-4= f.label :partido
        .span-8.last= f.text_field :partido

    .acciones.span-4.last= f.submit
