%tr{class: cycle("odd", "even")}
  - if remover
    %td.borrar
      =  link_to 'X', '#perfiles', class: 'remove remover'
  %td.numero.centrado
    = link_to perfil.numero, perfil, class: 'perfil_numero'
  %td.ubicacion
    = ff.label :ubicacion, perfil.ubicacion, class: 'perfil_ubicacion'
  %td.fecha.centrado
    = ff.label :fecha, perfil.fecha
  %td.modal.centrado
    = ff.label :modal, "✓" if perfil.modal?
  %td.acciones
    = link_to 'Ver', perfil

  = ff.hidden_field :id
  = ff.hidden_field :_destroy
