%h1 Editar serie #{@serie.simbolo}

.flotado!= "#{link_to 'Mostrar', @serie} | #{link_to 'Volver', series_path}"

= render 'form'

.flotado!= "#{link_to 'Mostrar', @serie} | #{link_to 'Volver', series_path}"
