%h1 Lista de Series

= link_to 'Nueva Serie', new_serie_path

%table.centrado
  %tr
    %th Simbolo
    %th Nombre
    %th Provincia
    %th Partido
    %th
    %th
    %th

  - @series.each do |serie|
    %tr
      %td= serie.simbolo
      %td= serie.nombre
      %td= serie.provincia
      %td= serie.partido
      %td.boton= link_to 'Mostrar', serie
      %td.boton= link_to 'Editar', edit_serie_path(serie)
      %td.boton= link_to 'Eliminar', serie, confirm: '¿Estás seguro?', method: :delete
