#lista
  .botonera= render 'botonera_index'

  %table#series
    %thead
      %tr
        %th= link_para_ordenar        :nombre,                'Nombre'
        %th= link_para_ordenar        :simbolo,               'Símbolo'
        %th= link_para_ordenar        :descripcion,           'Descripcion'
        %th.numero= link_para_ordenar :cantidad_de_perfiles,  'Perfiles'
        %th.acciones

    %tbody
      - @series.each do |serie|
        %tr
          %td= serie.nombre
          %td= serie.simbolo
          %td!= serie.descripcion.try(:truncate, 35)
          %td.numero= serie.perfiles.size
          %td.acciones
            = link_to 'Mostrar', serie
            = '|'
            = link_to 'Editar', edit_serie_path(serie)
            = '|'
            = link_to 'Permisos', permisos_serie_path(serie)
            = '|'
            = link_to 'Eliminar', serie, confirm: t(:confirmar), method: :delete

  .botonera= render 'botonera_index'
