%p#notice= notice

%h1 Serie #{@serie.nombre}

%dl
  %dt Símbolo
  %dd= @serie.simbolo
  %dt Provincia
  %dd= @serie.provincia
  %dt Partido
  %dd= @serie.partido
  - if modal = @serie.calicatas.modal.first
    %dt Calicata modal
    %dd.boton= link_to 'Mostrar', modal

= render partial: 'calicatas/lista', locals: { calicatas: @serie.calicatas }

= link_to 'Editar', edit_serie_path(@serie)
|
= link_to 'Volver', series_path
