= form_for @calicata, :url => calicata_analisis_index_path(@calicata),
                      :method => :put, :html => { class: 'completa span-24' } do |f|


  =  f.error_messages

  = field_set_tag 'Datos analíticos', :class => 'azul_claro span-23 last' do

    = field_set_tag nil, :class => 'celeste plegable span-22 last' do

      %table#tabla_analisis.span-21.last
        %colgroup#titulos{span: 2}
        %colgroup#datos{span: 8}
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'N° registro'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :registro, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Horizonte'
          = f.fields_for :analisis, @analisis do |f_a|
            = f_a.fields_for :horizonte do |f_h|
              %td.dato= f_h.text_field :tipo, disabled: true
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Profundidad'
          = f.fields_for :analisis, @analisis do |f_a|
            = f_a.fields_for :horizonte do |f_h|
              %td.dato= f_h.text_field :profundidad, disabled: true
        %tr
          %td.titulo{colspan: 1, rowspan: 3}= label_tag nil, 'Materia orgánica'
          %td.titulo{colspan: 1}= label_tag nil, 'C %'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :materia_organica_c, disabled: bloqueado
        %tr
          %td.titulo= label_tag nil, 'N %'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :materia_organica_n, disabled: bloqueado
        %tr
          %td.titulo= label_tag nil, 'C/N'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :materia_organica_cn, disabled: true
        %tr
          %td.titulo{colspan: 1, rowspan: 8}= label_tag nil, 'Textura'
          %td.titulo.largo= label_tag nil, 'Arcilla < 2u'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :arcilla, disabled: bloqueado
        %tr
          %td.titulo.largo= label_tag nil, 'Limo 2-20u'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :limo_2_20, disabled: bloqueado
        %tr
          %td.titulo.largo= label_tag nil, 'Limo 2-50u'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :limo_2_50, disabled: bloqueado
        %tr
          %td.titulo.largo= label_tag nil, 'Arena muy fina'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :arena_muy_fina, disabled: bloqueado
        %tr
          %td.titulo.largo= label_tag nil, 'Arena fina'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :arena_fina, disabled: bloqueado
        %tr
          %td.titulo.largo= label_tag nil, 'Arena media'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :arena_media, disabled: bloqueado
        %tr
          %td.titulo.largo= label_tag nil, 'Arena gruesa'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :arena_gruesa, disabled: bloqueado
        %tr
          %td.titulo.largo= label_tag nil, 'Arena muy gruesa'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :arena_muy_gruesa, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}!= "<label>Ca CO<sub>3</sub> %</label>"
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :horizonte, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Equiv. de humedad %'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :humedad, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Agua útil %'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :horizonte, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'pH en pasta'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :ph_pasta, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'pH en H2O (1:2,5)'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :ph_h2o, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'pH en KCL (1:2,5)'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :ph_kcl, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Resistencia pasta Ω'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :resistencia_pasta, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Conductiv. (mmhos/cm)'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :horizonte, disabled: bloqueado
        %tr
          %td.titulo.largo{colspan: 1, rowspan: 4}= label_tag nil, 'Bases intercambiables'
          %td.titulo= label_tag nil, 'Ca++'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :base_ca, disabled: bloqueado
        %tr
          %td.titulo= label_tag nil, 'Mg++'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :base_mg, disabled: bloqueado
        %tr
          %td.titulo= label_tag nil, 'K+'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :base_k, disabled: bloqueado
        %tr
          %td.titulo= label_tag nil, 'Na+'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :base_na, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Valor S'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :s, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}!= "<label>H.<sup>+</sup> de cambio</label>"
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :horizonte, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Valor T'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :t, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, '% Satur. (sobre T)'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :horizonte, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, '% Satur. (S + H)'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :horizonte, disabled: bloqueado
        %tr
          %td.titulo{colspan: 2}= label_tag nil, 'Peso especif. apar.'
          = f.fields_for :analisis, @analisis do |f_a|
            %td.dato= f_a.text_field :horizonte, disabled: bloqueado

    .acciones.span-4.last= f.submit 'Actualizar datos'
