<p id="notice"><%= notice %></p>

<p>
  <b>Registro:</b>
  <%= @analisis.registro %>
</p>

<p>
  <b>Humedad:</b>
  <%= @analisis.humedad %>
</p>

<p>
  <b>S:</b>
  <%= @analisis.s %>
</p>

<p>
  <b>T:</b>
  <%= @analisis.t %>
</p>

<p>
  <b>Ph pasta:</b>
  <%= @analisis.ph_pasta %>
</p>

<p>
  <b>Ph h2o:</b>
  <%= @analisis.ph_h2o %>
</p>

<p>
  <b>Ph kcl:</b>
  <%= @analisis.ph_kcl %>
</p>

<p>
  <b>Resistencia pasta:</b>
  <%= @analisis.resistencia_pasta %>
</p>

<p>
  <b>Base ca:</b>
  <%= @analisis.base_ca %>
</p>

<p>
  <b>Base mg:</b>
  <%= @analisis.base_mg %>
</p>

<p>
  <b>Base k:</b>
  <%= @analisis.base_k %>
</p>

<p>
  <b>Base na:</b>
  <%= @analisis.base_na %>
</p>


<%= link_to 'Edit', edit_analisis_path(@analisis) %> |
<%= link_to 'Back', analisis_index_path %>
