%ul.menu
  %li
    .plegable Series
    %ul.submenu
      %li= link_to 'Ver', series_path
  %li
    .plegable Perfiles
    %ul.submenu
      %li= link_to 'Ver', perfiles_path
      %li
        Exportar
        %ul.submenu
          %li= link_to 'a CSV', exportar_perfiles_path
          %li= link_to 'a GeoJSON', geo_perfiles_path(format: :json)
      %li
        Subgrupos
        %ul.submenu
          %li= link_to 'Ver', grupos_path
      %li
        Fases
        %ul.submenu
          %li= link_to 'Ver', fases_path

  %li
    .plegable Horizontes
    %ul.submenu
      %li
        Exportar
        %ul.submenu
          %li= link_to 'a CSV', exportar_horizontes_path
  %li
    .plegable Proyectos
    %ul.submenu
      %li= link_to 'Ver', proyectos_path

%ul#administracion.menu
  - if current_usuario.try(:admin?)
    %li
      .plegable Usuarios
      %ul.submenu
        %li
          = link_to 'Ver', usuarios_path
  %li
    .plegable Equipos
    %ul.submenu
      %li
        = link_to 'Ver', equipos_path
