%nav.navbar.navbar-light.bg-faded.sticky-top.navbar-expand-md
  // Logo, título y botón tienen que ir en orden
  // Logo de la app
  .navbar-brand
    = link_to '/' do
      = image_tag 'logo-30x35', alt: t('app')
      // FIXME Sacar el on-hover
      .d-none.d-md-inline= t('app')

  // TODO Buscar cómo decirle que ocupe el espacio que pueda sin descentrarse en
  // TODO viewports chicos. El navbar-collapse está ocupando todo el espacio que
  // TODO queda, limitarle el width funciona
  // Título de la página
  %span.navbar-text.titulo= titulo_de_la_accion

  // Botón para colapsar el menú
  %button.navbar-toggler.navbar-toggler-right{ type: "button", data: { toggle: "collapse", target: ".navbar-collapse" } }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse
    .navbar-nav.ml-auto
      = render 'devise/menu/registration_link'
      = render 'devise/menu/session_link'
