#menu.span-24
  #logo.span-4
    = link_to image_tag("logo.jpg", :alt => 'INTA'), 'http://inta.gov.ar/'
  .span-20.last
    %h1.inicio= link_to "Sistema de información de Suelos del INTA", inicio_index_path
    %ul.menu_horizontal
      = render 'devise/menu/registration_items'
      = render 'devise/menu/login_items'
      - flash.each do |name, msg|
        = content_tag :div, msg, :class => 'mensaje', :id => "flash_#{name}" if msg.is_a?(String)
