.borde-azul
  #logo_inta.span-5
    = link_to image_tag("inta.jpg", alt: 'INTA'), 'http://inta.gov.ar'
  #menu.span-18.last
    %ul.menu_usuarios
      = '|'
      = render 'devise/menu/registration_items'
      = '|'
      = render 'devise/menu/login_items'
      = '|'
      - flash.each do |name, msg|
        = content_tag :div, msg, class: 'mensaje', id: "flash_#{name}" if msg.is_a?(String)
    %h1.titulo= titulo_de_la_accion
    %p.subtitulo= subtitulo
  #logo_sisinta
    = link_to image_tag("sisinta.png", alt: 'SiSINTA'), '/'
