!!! 5
%html{ lang: 'es_AR' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

    %title= titulo_de_la_aplicacion

    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'application'

    = csrf_meta_tags

    = favicon_link_tag image_path('favicon.png'), type: 'image/png'
    = favicon_link_tag image_path('favicon144.png'), type: 'image/png', rel: 'apple-touch-icon'
  %body
    = render 'layouts/cabecera'

    -# Container con altura definida para el mapa
    #container-principal.container-fluid
      #avisos
        - flash.each do |name, msg|
          = notificacion(name, msg)

      = yield
