<!DOCTYPE html>
<html>
<head>
  <title>Sistema de base de datos de Suelos | INTA</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container showgrid">
    <%= render 'layouts/cabecera' %>

    <div id="principal" class="span-24">
      <%= yield %>
    </div>

  </div>
</body>
</html>
