!!! 5
%html{ lang: 'es_AR' }
  %head
    %meta{ charset: 'utf-8' }
    %meta{ name: 'viewport', content: 'width=device-width, initial-scale=1, shrink-to-fit=no' }

    %title= titulo_de_la_aplicacion

    = stylesheet_link_tag 'application', media: 'all'

    = javascript_include_tag 'application'

    = csrf_meta_tags

    = favicon_link_tag 'apple-touch-icon.png', sizes: '76x76', rel: 'apple-touch-icon'
    = favicon_link_tag 'favicon-32x32.png', sizes: '32x32', type: 'image/png', rel: 'icon'
    = favicon_link_tag 'favicon-16x16.png', sizes: '16x16', type: 'image/png', rel: 'icon'
    = tag :link, href: asset_path('site.webmanifest.json'), rel: 'manifest'
    = tag :link, href: asset_path('safari-pinned-tab.svg'), color: '#5bbad5', rel: 'mask-icon'
    = tag :link, href: asset_path('favicon.ico'), rel: 'shortcut icon'
    = tag :meta, name: 'apple-mobile-web-app-title', content: t('app')
    = tag :meta, name: 'application-name', content: t('app')
    = tag :meta, name: 'msapplication-TileColor', content: '#2d89ef'
    = tag :meta, name: 'msapplication-config', content: asset_path('browserconfig.xml')
    = tag :meta, name: 'theme-color', content: '#ffffff'
  %body
    = render 'layouts/cabecera'

    -# Container con altura definida para el mapa
    #container-principal.container-fluid
      #avisos
        - flash.each do |name, msg|
          = notificacion(name, msg)

      = yield
